@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body {
    /* uigradients.com */
    font-family: 'Nunito Sans', sans-serif;
    
}

.container{
      /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 340px;
    border-radius: 10px;
    margin: 100px auto;
    padding: 2em;
    color: #ffffff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
}
h1{
    font-weight: 800;
    

}
h4{
    letter-spacing: 1px;
    height: 20px;

}
button{
    padding: 1em .5em;
    margin: 5px auto;
    margin-top: 12px;
    margin-bottom: 1px;
    width: 130px;
    background: #fff;
    outline: none;
    border-radius: 8px;
    border-width: 0;
    font-weight: 800;

}
